<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3/css/login.css">
</head>
<body>
<div class="box">
    <h2>Login</h2>
    <form action="/login/" method="post">
        {% csrf_token %}
        <div class="inputbox">
            <input type="text" name="username" required="required">
            <label>Username</label>
        </div>
        <div class="inputbox">
{#            required  必填字段#}
            <input type="password" name="password" required="required">
            <label>Password</label>
        </div>
        <input type="submit" name="" value="submit">
    </form>
    {{ error }}
</div>
{#    <h3 style="color: #2aabd2">登录页面</h3>#}
{#    <form action="/login/" method="post">#}
{#        {% csrf_token %}#}
{#        <p>{{ obj.username }}</p>#}
{#        <p>{{ obj.passwd }}</p>#}
{#        <input type="submit" value="提交">#}
{#    </form>#}
{#    {{ error }}#}
</body>
</html>